# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mnogovershinnyy,RU,53.9353,139.9242,24.26,76,83,8.52,broken clouds
1,1,Luderitz,NaN,-26.6481,15.1594,55.87,84,25,4.43,scattered clouds
2,2,Hobart,AU,-42.8794,147.3294,63.23,57,20,14.97,few clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,40.66,70,0,10.36,clear sky
4,4,Sola,VU,-13.8833,167.5500,80.47,77,100,9.15,heavy intensity rain
5,5,Rikitea,PF,-23.1203,-134.9692,74.46,87,98,15.28,overcast clouds
6,6,Victoria,HK,22.2855,114.1577,82.18,73,66,5.01,broken clouds
7,7,Hilo,US,19.7297,-155.0900,76.73,76,100,13.80,overcast clouds
8,8,Ponta Do Sol,PT,32.6667,-17.1000,67.71,80,34,2.89,scattered clouds
9,9,Upernavik,GL,72.7868,-56.1549,10.89,82,95,6.89,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation ? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation ? "))

What is the minimum temperature you would like for your vacation ? 40
What is the maximum temperature you would like for your vacation ? 60

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Luderitz,NaN,-26.6481,15.1594,55.87,84,25,4.43,scattered clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,40.66,70,0,10.36,clear sky
10,10,Punta Arenas,CL,-53.1500,-70.9167,42.91,75,0,6.91,clear sky
11,11,Castro,BR,-24.7911,-50.0119,57.18,98,66,6.02,broken clouds
18,18,Alekseyevka,RU,50.6309,38.6903,42.03,94,100,8.30,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ushuaia,AR,-54.8000,-68.3000,40.66,70,0,10.36,clear sky
10,10,Punta Arenas,CL,-53.1500,-70.9167,42.91,75,0,6.91,clear sky
11,11,Castro,BR,-24.7911,-50.0119,57.18,98,66,6.02,broken clouds
18,18,Alekseyevka,RU,50.6309,38.6903,42.03,94,100,8.30,overcast clouds
23,23,Mataura,NZ,-46.1927,168.8643,58.48,52,100,7.07,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Current Description',
                               'Lat', 'Lng']].copy()


# Display sample data
hotel_df.head()

            City Country  Max Temp Current Description      Lat       Lng
3        Ushuaia      AR     40.66           clear sky -54.8000  -68.3000
10  Punta Arenas      CL     42.91           clear sky -53.1500  -70.9167
11        Castro      BR     57.18       broken clouds -24.7911  -50.0119
18   Alekseyevka      RU     42.03     overcast clouds  50.6309   38.6903
23       Mataura      NZ     58.48     overcast clouds -46.1927  168.8643

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ushuaia,AR,40.66,clear sky,-54.8000,-68.3000,
10,Punta Arenas,CL,42.91,clear sky,-53.1500,-70.9167,
11,Castro,BR,57.18,broken clouds,-24.7911,-50.0119,
18,Alekseyevka,RU,42.03,overcast clouds,50.6309,38.6903,
23,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ushuaia,AR,40.66,clear sky,-54.8000,-68.3000,Albatross Hotel
10,Punta Arenas,CL,42.91,clear sky,-53.1500,-70.9167,Hotel Hain
11,Castro,BR,57.18,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
18,Alekseyevka,RU,42.03,overcast clouds,50.6309,38.6903,Apartment on Ploshchad Pobedy
23,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
24,Dir,PK,46.06,clear sky,35.2058,71.8756,Ayaz hotal
38,Winsum,NL,42.98,clear sky,53.3300,6.5208,Tuinhuis
44,Portland,US,44.78,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
46,Esperance,AU,58.84,overcast clouds,-33.8667,121.9000,Hospitality Esperance
47,Rawson,AR,56.66,light rain,-43.3002,-65.1023,Hosteria Sampedro

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != '']

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ushuaia,AR,40.66,clear sky,-54.8000,-68.3000,Albatross Hotel
10,Punta Arenas,CL,42.91,clear sky,-53.1500,-70.9167,Hotel Hain
11,Castro,BR,57.18,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
18,Alekseyevka,RU,42.03,overcast clouds,50.6309,38.6903,Apartment on Ploshchad Pobedy
23,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
24,Dir,PK,46.06,clear sky,35.2058,71.8756,Ayaz hotal
38,Winsum,NL,42.98,clear sky,53.3300,6.5208,Tuinhuis
44,Portland,US,44.78,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
46,Esperance,AU,58.84,overcast clouds,-33.8667,121.9000,Hospitality Esperance
47,Rawson,AR,56.66,light rain,-43.3002,-65.1023,Hosteria Sampedro

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = 'City_ID')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 40.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 42.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 57.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Apartment on Ploshchad Pobedy</dd>\n<dt>City</dt><dd>Alekseyevka</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 42.03 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ayaz hotal</dd>\n<dt>City</dt><dd>Dir</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 46.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tuinhuis</dd>\n<dt>City</dt><dd>Winsum</dd>\n<dt>Country</dt><dd>NL</dd>\n<dt>Current Weather</dt><dd>clear sky and 42.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Embassy Suites by Hilton Portland Downtown</dd>\n<dt>City</dt><dd>Portland</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 44.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Esperance</dd>\n<dt>City</dt><dd>Esperance</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hosteria Sampedro</dd>\n<dt>City</dt><dd>Rawson</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>light rain and 56.66 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3  -54.8000  -68.3000
10 -53.1500  -70.9167
11 -24.7911  -50.0119
18  50.6309   38.6903
23 -46.1927  168.8643
24  35.2058   71.8756
38  53.3300    6.5208
44  45.5234 -122.6762
46 -33.8667  121.9000
47 -43.3002  -65.1023

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0),
                  zoom_level=1.5, 
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…